---
default_stages: [pre-commit, pre-push]
default_language_version:
  # force all unspecified python hooks to run python3
  python: python3
minimum_pre_commit_version: 1.20.0
exclude: >
  (?x)
  ^pola/static|
  ^db_kbpoz/
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude: >
          (?x)
          ^pola/tests/commands/test_import_brands_fixture\.tsv$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        exclude: ^package-lock\.json$|^pola/gpc/fixtures/$
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args:
          - --allow-missing-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test
        args:
          - --django
      - id: requirements-txt-fixer
        files: ^dependencies/.+\.txt$
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      # Zachowane - brak odpowiednika w ruff
      - id: python-check-mock-methods
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          - -c
          - yamllint-config.yml
  # - repo: https://github.com/hadolint/hadolint
  #   rev: 'v2.12.1-beta'
  #   hooks:
  #     - id: hadolint-docker
  #       entry: --entrypoint /bin/hadolint hadolint/hadolint:v2.12.0 --ignore DL3013 --ignore DL3018 --ignore DL3008 -
  - repo: local
    hooks:
      - id: shellcheck
        name: Check Shell scripts syntax correctness
        language: docker_image
        entry: koalaman/shellcheck:v0.8.0 -x -a
        files: \.sh$
      - id: version-checks
        name: Checks Django Version in docker-compose.yaml
        language: system
        entry: scripts/static_checks/version-check.py
        pass_filenames: false
        files: >
          (?x)
          ^dependencies/|
          ^\.python-version$|
          Dockerfile$|
          ^docker-compose\.yaml$|
